{% extends "layout.html" %}

{% block title %} Documents {% endblock %}

{% block content %}

<h1>Microtask</h1>

<div class="content_container">

  <table width="100%" border="1px" class="data"> 
    <!-- 
    <tr> 
      <th colspan="4"> 
	<p style="float:right;">
	  <a href="/documents/new">New Document</a>
	</p>
      </th> 
    </tr> 
    --> 
    <tr> 
      <th>Id</th> 
      <th>Task</th> 
      <th>Assignee</th> 
      <th>Text</th> 
    </tr> 
  {% for m in mtasks %} 
    <tr> 
      <td> {{m.id}} </td>
      <td> 
	<a href="/microtasks/show/{{m.id}}">Show</a>
	<a href="/microtasks/edit/{{m.id}}">Edit</a>
	<a href="/microtasks/reassign/{{m.id}}">Reassign</a>
      </td> 
      <td> {{m.user.username}}<br>
      [#{{m.user.id}}]</td>
      <td> 
	Text: <br>{{m.snippet}}<br/>
	Translation Status: <br>
	{% for t in m.translations %} 
	{{t.language.language}} <a href="/translations/show/{{t.id}}">Translation Task {{t.id}}</a> [ status = {{t.status}},  last update = {{t.updated_at|timesince}} ago, user = t.user.username ]</a>
	{% endfor %} 
      </td>
    </tr>
  {% endfor %}
  </table> 
</div>



{% endblock %}
