{% extends "layout.html" %}

{% block content %}

<h1>Microtask Information</h1>

<div class="content_container">
  {% if mtask != None %}
  <p style="float:right;">
    <a href="/microtasks/edit/{{mtask.id}}">Edit</a>
    <a href="/microtasks/reassign/{{mtask.id}}">Reassign</a>
    <a href="/microtasks/">All Microtasks</a>
  </p>
  <table class="data">
    <tr>
      <td>Id</td>
      <td>{{mtask.id}}</td>
    </tr>
    <tr>
      <td>Timestamps</td>
      <td>Created: {{mtask.created_at|timesince}} ago<br>
          Modified: {{mtask.updated_at|timesince}} ago</td>
    </tr> 
    <tr>
      <td>Snippet</td>
      <td>{{mtask.snippet}}</td>
    </tr> 
    <tr>
      <td>Owner</td>
      <td>{{mtask.user.username}} [#{{mtask.user.id}}] </td>
    </tr>
    <tr> 
      <td>Context</td>
      <td>{{mtask.context}}</td>
    </tr>
    <tr>
      <td>Translation Status</td>
      <td>
	{% for t in mtask.translations %} 
	{{t.language.language}} <a href="/translations/show/{{t.id}}">Translation Task {{t.id}} </a> [ status = {{t.status}},  last update = {{t.updated_at|timesince}} user = {{t.user.username}}]</a><br/>
	{% endfor %} 
      </td>
    </tr>
  </table>
  {% endif %} 
</div>

{% endblock %}
