{% extends "layout.html" %}

{% block title %} Documents {% endblock %}

{% block content %}

<h1>Documents</h1>

<div class="content_container">

  <table width="100%" border="1px"> 
    <tr> 
      <th colspan="4"> 
	<p style="float:right;">
	  <a href="/documents/new">New Document</a>
	</p>
      </th> 
    </tr> 
    <tr> 
      <th>Id</th> 
      <th>Ops</th> 
      <th>URL</th> 
      <th>Text</th> 
    </tr> 
  {% for d in docs %} 
    <tr> 
      <td> 
	{{d.id}}
      </td>
      <td> 
	<a href="/documents/show/{{d.id}}">Show</a>
	<a href="/documents/edit/{{d.id}}">Edit</a>
	<a href="/documents/delete/{{d.id}}">Delete</a>
	<a href="/documents/assign/{{d.id}}">Assign</a>
	<a href="/documents/unassign/{{d.id}}">Unassign</a>
      </td> 
      <td> 
	{% if d.url|length != 0 %} 
	<a href="{{d.url}}">{{d.url|slice:"40"}}</a>
	{% endif %} 
      </td>
      <td> 
	{{d.body|slice:"200"}}...
      </td>
    </tr>
  {% endfor %}
  </table> 
  <p/>
</div>



{% endblock %}
