{% extends "layout.html" %}

{% block content %}

<h1>Document Information</h1>

<div class="content_container">
	{% if doc != None %}
	<p style="float:right;">
	  <a href="/documents/edit/{{doc.id}}">Edit</a>
	  <a href="/documents/">Back</a>
	</p>
	<table class="data">
	  <tr>
	    <td>Id</td>
	    <td>{{doc.id}}</td>
	  </tr>
	  <tr>
	    <td>Source</td>
	    <td><a href="{{doc.url}}">{{doc.url}}</a></td>
	  </tr>
	  <tr>
	    <td>Text</td>
	    <td>{{doc.body|wordwrap:50}}</td>
	  </tr>
	  <tr>
	    <td>Microtasks</td>
	    <td>
	      <span style="float:left; width: 30px;padding-right: 5px;">Id</span>
	      <span style="float:left; width: 30px; padding-right: 10px;">Owner</span>
	      <span style="float:left;">Snippet</span><br>
	      {% for m in mtasks %} 
	      <span style="float:left; width: 30px;padding-right: 5px;">{{m.id}}</span>
	      <span style="float:left; width: 30px; padding-right: 10px;">{{m.user.username}}</span>
	      <span style="float:left;"><a href="/microtasks/show/{{m.id}}">{{m.snippet|slice:"50"}}</a></span><br>
	      {% endfor %} 
	    </td>
	  </tr>
	</table>
	{% endif %} 
</div>



{% endblock %}
