{% extends "layout.html" %}

{% block title %}Bhagirath: Knowledge Knows No Boundaries!{% endblock %}

{% block content %}

<h1>Bhagirath</h1>
<h2>Knowledge Knows No Boundaries</h2>

<div class="content_container">

  <p>Step 1: <a href="/account/signup">Signup</a>
  and <a href="/account/login">login</a> </p>

  <p>Step 2: <a href="/document/new">Upload a document</a> for translation
  </p>

  <p>Step 3: Create and assign microtasks for the uploaded document</p>

  <p>Step 4: <a href="/microtasks"> Monitor</a> the progress</p> 
  
</div>



{% endblock %}
